<configuration>
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} | %msg | sentAt=%X{sent timestamp} | receivedAt=%X{received timestamp} | prediction=%X{prediction} | actual=%X{actual}%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>bot.log</file>
        <immediateFlush>true</immediateFlush>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <logLevel/>
                <message/>
                <mdc />
            </providers>
        </encoder>
    </appender>
    <!-- Logger for your class only -->
    <logger name="bot.DataProducer" level="INFO" additivity="false">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDERR"/>
    </logger>

    <!-- Root logger is silent -->
    <root level="OFF" />
</configuration>