<configuration>
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} | %level | %msg | open=%X{open} | high=%X{high} | low=%X{low} | close=%X{close} | prediction=%X{prediction}%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>model-server.log</file>
        <immediateFlush>true</immediateFlush>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <logLevel/>
                <message/>
                <mdc />
            </providers>
        </encoder>
    </appender>
    <!-- Logger for your class only -->
    <logger name="modelserver.HttpHandlerImplML" level="INFO" additivity="false">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDERR"/>
    </logger>

    <!-- Root logger is silent -->
    <root level="OFF" />
</configuration>